.rps_img__container {
  background-color: var(--text-light);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  place-items: center;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5),
    inset 0 0 10px 1px rgba(0, 0, 0, 0.5);

  transition: all 0.05;
}
.rps_img__container > img {
  height: 50px;
  width: auto;
  pointer-events: none;
}

.rock {
  border: 10px solid var(--rock-color);
}

.paper {
  border: 10px solid var(--paper-color);
}

.scissors {
  border: 10px solid var(--scissors-color);
}

.rps_img__container:hover {
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.7),
    inset 0 0 10px 1px rgba(0, 0, 0, 0.7);
}
