aside {
  position: fixed;
  bottom: -100%;
  right: -100%;
  max-width: 300px;
  background-color: var(--rules-bg-color);
  padding: 2rem 3rem;
  text-align: center;
  border: 5px solid var(--text-light);
  border-radius: 10px;
  transition: all 0.3s ease-out;
}

.show__rules {
  bottom: 8%;
  right: 3%;
}

aside h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 500;
}

aside ul {
  text-align: justify;
  list-style-type: square;
  font-size: 0.9rem;
}

aside ul > * + * {
  margin-top: 0.5rem;
}

aside ul li::marker {
  color: var(--paper-color);
  font-size: 1.5rem;
}

aside > div {
  position: relative;
}

.aside__close {
  position: absolute;
  padding: 0.5rem;
  background-color: red;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-size: 1.4rem;
  border: 3px solid var(--text-light);
  top: -8%;
  right: -8%;
  color: var(--text-light);
}
