@import "./shared/base.css";
@import "./shared/button.css";
@import "./shared/rps.css";
@import "./shared/scoreboard.css";
@import "./shared/rules.css";

.game__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* column-gap: 10rem; */
}

.player__pick {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  border-radius: 50%;
}

.game__action {
  text-align: center;
}

.game__action .btn {
  margin-top: 1rem;
  display: inline-block;
}

.game__action > div > :first-child {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}
.game__action > div > :last-child {
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
}

.rps_img__container {
  width: 125px;
  height: 125px;
}

.circle {
  border-radius: 100%;
  display: grid;
  place-items: center;
}

.first__ring {
  width: 300px;
  height: 300px;
}
.second__ring {
  position: relative;
  width: 250px;
  height: 250px;
}
.third__ring {
  width: 200px;
  height: 200px;
}

.first__ring.won {
  background-color: rgba(46, 154, 37, 0.39);
}

.second__ring.won {
  background-color: rgba(29, 168, 43, 0.79);
}

.third__ring.won {
  background-color: rgba(59, 103, 32, 1);
}

.second__ring span {
  position: absolute;
  top: 3%;
  letter-spacing: 0.2rem;
  font-weight: bold;
}
