@import "./shared/base.css";
@import "./shared/button.css";

main h1 {
  font-size: 5rem;
  letter-spacing: 0.2rem;
}

main p {
  font-size: 2.4rem;
}

main > div {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  text-align: center;
}

.hurray__div {
  min-width: 400px;
  min-height: 300px;
}

main img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}

.zoom {
  width: 100%;
}
