@import "./shared/base.css";
@import "./shared/button.css";
@import "./shared/rps.css";
@import "./shared/scoreboard.css";
@import "./shared/rules.css";

.rock_paper_scissor__div {
  height: 150px;
  width: 200px;
  position: relative;
}

.rps__bg {
  position: absolute;
  left: -10px;
}

.rps_img__container {
  position: absolute;
}

.rock {
  top: -40px;
  left: -40px;
}

.paper {
  bottom: -50px;
  right: 50px;
}

.scissors {
  top: -40px;
  right: -40px;
}
